@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

button, input, textarea, select {
	font-family: inherit;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.body-bg {
	background-image: url(../img/userbg.png);
	background-color: #000000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
} 


.admin-body-bg {
	background-image: url(../img/adminbg.png);
	background-color: #000000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
} 