@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

button, input, textarea, select {
	font-family: 'Roboto', Arial, sans-serif;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* фон */
.body-bg {
	background-image: url(../img/userbg.png);
	background-color: #000000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
} 


.admin-body-bg {
	background-image: url(../img/adminbg.png);
	background-color: #000000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
} 

.admin-body-bg::after {

	content: "";
 	background-color: #000000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: 100%;
}

/* Основные стили главной страницы */
.content-wrapper {
	padding: 0 18.5%;
}

.header {
	box-sizing: border-box;
	max-width: 990px;
	padding: 14px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}

.header-logo {
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 34px;
	color: #FFFFFF;
	font-weight: 900;
	text-transform: uppercase;
}

.header-logo-thin {
	font-weight: 100;
	font-family: 'Roboto', Arial, sans-serif;
}

.button {
	border-radius: 3px;
	border: none;
	background: #16A6AF;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
	text-transform: uppercase;
}

.button:hover {
	background: #1BBCC6;
	cursor: pointer;
}

.button:active {
	background: #16A6AF;
}

.header-button {
	padding: 12px;
}

.header-button-hidden {
	display: none;
}

.nav {
	max-width: 990px;
	height: 52px;
	margin: 0 auto 40px auto;
}

.nav-list {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.nav-item {
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;

	width: calc(100%/8);
	margin-left: 1px;
	padding: 10px 20px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.9);

	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
}

.nav-item:first-child {
	margin-left: 0;
}

.nav-item:hover {
	background-color: #ffffff;
	cursor: pointer;
}

.nav-item-active {
	width: calc((100%/8)*2);
	margin-left: 0;
	padding: 8px 22px;
	background-color: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
}

.nav-item-red {
	color: #FF0000;
}

.date-switch {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}

.client-index {
	max-width: 990px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.movie {
	padding: 15px 15px 26px 15px;
	border-radius: 2px;

	background-color: rgba(241, 235, 230, 0.95);
}

.movie-info {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.movie-image {
	width: 125px;
	height: 175px;
	display: block;
}

.movie-description {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.movie-title {
	margin: 0 0 0 -15px;
	display: flex;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.movie-title::before {
	content: '';
	display: inline-block;
	width: 6px;
	height: 14px;
	margin: 0 8px 0 1px;

	background-color: #393939;
}

.movie-synopsis {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', Arial, sans-serif;
}

.movie-data {
	display: flex;
	flex-direction: row;
	gap: 3px;

	font-size: 14px;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
}

.movie-schedule {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.movie-halls {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.movie-halls-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Roboto', Arial, sans-serif;
}

.movie-halls-times {
	list-style-type: none;

	display: flex;
	flex-direction: row;
	gap: 4px;
}

.movie-halls-time {
	padding: 7px;
	border-radius: 2px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

.movie-halls-time:hover {
	background-color: #EBEBEB;
	cursor: pointer;
}

.movie-halls-time-disabled {
	background-color: #848484;
}

.movie-halls-time-disabled:hover {
	background-color: #848484;
	cursor: not-allowed;
}

/* страница для бронировки мест */

.client-hall-wrapper {
	max-width: 990px;
	margin: 0 auto;

	background-color: rgba(241, 235, 230, 0.95);
	border-radius: 2px;
}

.session-info {
	display: flex;
	flex-direction: column;
	gap: 7px;

	padding: 15px;
}

.zoomed-hand {
	display: none;
}

.session-title {
	font-size: 16px;
	font-weight: 700;
	font-family: 'Roboto', Arial, sans-serif;
}

.session-time {
	font-size: 14px;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
}

.session-hall {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Roboto', Arial, sans-serif;
}

.hall {
	padding-top: 45px;
	padding-bottom: 13px;

	display: flex;
	flex-direction: column;
	gap: 30px;

	background-color: rgba(23, 29, 36, 1);
	background-image: url(../img/screen.png);
	background-position: top 15px center;
	background-repeat: no-repeat;
	background-size: 284px auto;
}

.hall-grid {
	margin: 0 auto;
	display: grid;
	gap: 4px;
}

.hall-seat {
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border-radius: 4px;
}

.seat-free {
	border: 1px solid #525252;
	background-color: #FFFFFF;
}

.hall-grid .seat-free:hover {
	transform: scale(1.2);
}

.seat-occupied {
	border: 1px solid #525252;
}

.seat-vip {
	border: 1px solid #525252;
	background-color: #F9953A;
}

.hall-grid .seat-vip:hover {
	transform: scale(1.2);
}

.hall-seat-chosen {
	transform: scale(1.2);
	border: 1px solid #525252;
	background-color: #25C4CE;
	box-shadow: 0px 0px 4px 0px #16A6AF;
}

.hall-legend {
	width: 284px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	gap: 14px;
}

.legend-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.legend-item {
	display: flex;
	gap: 4px;
}

.legend-label {
	font-size: 14px;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
	color: #FFFFFF;
}

.booking {
	padding: 30px 0;
}

.booking-button {
	display: block;
	margin: 0 auto;
	padding: 11px 61px 13px 61px;
}


/* страница оплаты */

.payment{
	max-width: 990px;
	margin: 0 auto;
}

.payment-header {
	position: relative;
 	padding: 25px 15px;
	box-sizing: border-box;
	background-color: rgba(241, 235, 230, 0.95);
}
.payment-header::after{
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;

	display: block;
	height: 3px;

	background-image: url(../img/bottomticketseam.png);
}
.payment-header::before{
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	right: 0;

	display: block;
	height: 3px;

	background-image: url(../img/topticketseam.png);
}

.payment-title {
	text-transform: uppercase;

	font-size: 22px;
	font-weight: 700;
	font-family: 'Roboto', Arial, sans-serif;
	color: #C76F00;
}

.ticket-info {
	position: relative;

	padding: 20px 15px 30px 15px;
	margin-top: 6px;

	background-color: rgba(241, 235, 230, 0.95);
}
.ticket-info::after{
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;

	display: block;
	height: 3px;
	
	background-image: url(../img/bottomticketseam.png);
}
.ticket-info::before{
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	right: 0;

	display: block;
	height: 3px;

	background-image: url(../img/topticketseam.png);
}


.ticket-button {
	margin: 30px auto ;

	background-color: #16A6AF;
	box-shadow: 0px 3px 3px 0px #0000003D;
}
.ticket-button:hover{
	background-color: #277c82;

}

.ticket-hint{
	font-size: 14px;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
}
.ticket-info-hint:nth-last-of-type(n+2) {
	margin-bottom: 10px;
}

.ticket-qr{
	display: flex;
	justify-content: center;
	margin: 30px auto;
}

/* основные свойства для входа в админскую */

.content-wrapper-admin {
	position: relative;
	z-index: 2;
	padding: 0 20.3%;
}

.admin-header {
	padding: 35px 99px;
}

.admin-header-subtitle {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 5px;
	color: #FFFFFF;
	font-family: 'Roboto', Arial, sans-serif;
}

.login-wrapper {
	max-width: 480px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	background-color: rgba(234, 233, 235, 0.95);
}

.login-header {
	padding: 16px 0;

	background-color: #63536C;
}

.login-title {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Roboto', Arial, sans-serif;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 104px;
}

.login-label {
	font-size: 12px;
	font-weight: 400;
	color: #848484;
	align-self: flex-start;
}

.login-input {
	width: 100%;
	padding: 7px 9px 9px 9px;
	box-sizing: border-box;
	margin-bottom: 7px;
	font-family: 'Roboto', Arial, sans-serif;
	border-radius: 0;
	border: 1px solid #B7B7B7;

	font-size: 16px;
	font-weight: 400;
	color: #757575;
}

.login-button {
	padding: 11px 35px 12px 36px;
}


/* Админская страница */

.manage {
	margin: auto;
	max-width: 962px;
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #63536C;
	font-family: 'Roboto', Arial, sans-serif;
	max-height: 95px;
}
.section-header::before {
	content: '';
	box-sizing: border-box;
	width: 44px;
	height: 44px;
	border: 4px solid #BC95D6;
	border-radius: 50%;
	background-color: #fff;
	margin: 26px 20px 25px 40px;
	z-index: 2;
}
.section-header::after {
	content: '';
	position: absolute;
	align-self: flex-end;
	background-color: #BC95D6;
	height: 48px;
	width: 2px;
	margin-left: 61px;
	z-index: 1;
}

.section-title {
	text-transform: uppercase;
	margin-right: auto;
	font-size: 22px;
	font-weight: 700;
	color: white;
	font-family: 'Roboto', Arial, sans-serif;
}
.section-header-button {
	margin-right: 40px;
	width: 24px;
	height: 16px;
	border: none;
	background-color: #63536C;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/arrowdown.png);
}

.section-text {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', Arial, sans-serif;
}

.manage-content {
	position: relative;
	background-color: rgba(234, 233, 235, 0.95);
	color: #000000;
	padding-left: 104px;
	padding-top: 35px;
	padding-bottom: 35px;
}
.manage-content::before {
	content: '';
	position: absolute;
	background-color: #BC95D6;
	height: 100%;
	width: 2px;
	left: 61px;
	top: 0;
}

.admin-buttons {
  display: flex;
  justify-content: center; 
  gap: 20px;               
}

.admin-button {
	margin: 0;
	text-align: center;
	background-color: #16A6AF;
	color: #fff;
	padding: 11px 32px;
	border: none;
	cursor: pointer;
}

.admin-button:hover {
	background-color: #277c82;
}

.admin-white-button {
	margin: 0;
	text-align: center;
	padding: 11px 32px;
	background-color: #FFFFFF;
	color: #63536C;
	border: none;
	cursor: pointer;
}

.white-button:hover {
	background-color: #63536C;
	color: #FFFFFF;
}

/* админская страница - конфигурация залов */

.admin-halls-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 14px 11px;

	font-size: 16px;
	font-weight: 500;
	
	text-transform: uppercase;
}

.admin-halls-list-item {
	display: flex;
	flex-direction: row;
	gap: 3px;
}

.admin-halls-list-item::before {
	content: '–';
}
.admin-halls-button {
	margin: auto;
	text-align: center;
	background-color: #16A6AF;
	color: #fff;
	padding: 11px 32px;
	border: none;
	cursor: pointer;
}

.admin-halls-button:hover {
	background-color: #277c82;
}

.admin-text {
	margin: 20px auto;
	font-family: 'Roboto', Arial, sans-serif;
}


.select-sales {
	margin-top: 29px;
}

.sales-text {
	margin: 29px auto;
	text-align: center;
	font-family: 'Roboto', Arial, sans-serif;
}



/* виды для разных сайтов */

@media (max-width:990px) {
	.content-wrapper {
		padding: 0;
	}

	.session-info-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.zoomed-hand {
		display: flex;
		padding: 15px;
		align-items: center;
	}

	.hint-text {
		width: 67px;
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
	}

	.hint-icon {
		width: 24px;
		height: 32px;
	}
}