@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

button, input, textarea, select {
	font-family: 'Roboto', Arial, sans-serif;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* фон */
.body-bg {
	background-image: url(../img/userbg.png);
	background-color: #000000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
} 


.admin-body-bg {
	background-image: url(../img/adminbg.png);
	background-color: #000000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
} 

.admin-body-bg::after {

	content: "";
 	background-color: #000000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: 100%;
}

/* Основные стили главной страницы */
.content-wrapper {
	padding: 0 18.5%;
}

.header {
	box-sizing: border-box;
	max-width: 990px;
	padding: 14px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}

.header-logo {
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 34px;
	color: #FFFFFF;
	font-weight: 900;
	text-transform: uppercase;
}

.header-logo-thin {
	font-weight: 100;
	font-family: 'Roboto', Arial, sans-serif;
}

.button {
	border-radius: 3px;
	border: none;
	background: #16A6AF;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
	text-transform: uppercase;
}

.button:hover {
	background: #1BBCC6;
	cursor: pointer;
}

.button:active {
	background: #16A6AF;
}

.header-button {
	padding: 12px;
}

.header-button-hidden {
	display: none;
}

.nav {
	max-width: 990px;
	height: 52px;
	margin: 0 auto 40px auto;
}

.nav-list {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.nav-item {
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;

	width: calc(100%/8);
	margin-left: 1px;
	padding: 10px 20px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.9);

	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
}

.nav-item:first-child {
	margin-left: 0;
}

.nav-item:hover {
	background-color: #ffffff;
	cursor: pointer;
}

.nav-item-active {
	width: calc((100%/8)*2);
	margin-left: 0;
	padding: 8px 22px;
	background-color: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
}

.nav-item-red {
	color: #FF0000;
}

.date-switch {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}

.client-index {
	max-width: 990px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.movie {
	padding: 15px 15px 26px 15px;
	border-radius: 2px;

	background-color: rgba(241, 235, 230, 0.95);
}

.movie-info {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.movie-image {
	width: 125px;
	height: 175px;
	display: block;
}

.movie-description {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.movie-title {
	margin: 0 0 0 -15px;
	display: flex;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.movie-title::before {
	content: '';
	display: inline-block;
	width: 6px;
	height: 14px;
	margin: 0 8px 0 1px;

	background-color: #393939;
}

.movie-synopsis {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', Arial, sans-serif;
}

.movie-data {
	display: flex;
	flex-direction: row;
	gap: 3px;

	font-size: 14px;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
}

.movie-schedule {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.movie-halls {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.movie-halls-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Roboto', Arial, sans-serif;
}

.movie-halls-times {
	list-style-type: none;

	display: flex;
	flex-direction: row;
	gap: 4px;
}

.movie-halls-time {
	padding: 7px;
	border-radius: 2px;

	color: #000000;
	background-color: #ffffff;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

.movie-halls-time:hover {
	background-color: #EBEBEB;
	cursor: pointer;
}

.movie-halls-time-disabled {
	background-color: #848484;
}

.movie-halls-time-disabled:hover {
	background-color: #848484;
	cursor: not-allowed;
}

/* основные свойства для админской */

.content-wrapper-admin {
	position: relative;
	z-index: 2;
	padding: 0 20.3%;
}

.admin-header {
	padding: 35px 99px;
}

.admin-header-subtitle {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 5px;
	color: #FFFFFF;
	font-family: 'Roboto', Arial, sans-serif;
}

.login-wrapper {
	max-width: 480px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	background-color: rgba(234, 233, 235, 0.95);
}

.login-header {
	padding: 16px 0;

	background-color: #63536C;
}

.login-title {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Roboto', Arial, sans-serif;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 104px;
}

.login-label {
	font-size: 12px;
	font-weight: 400;
	color: #848484;
	align-self: flex-start;
}

.login-input {
	width: 100%;
	padding: 7px 9px 9px 9px;
	box-sizing: border-box;
	margin-bottom: 7px;
	font-family: 'Roboto', Arial, sans-serif;
	border-radius: 0;
	border: 1px solid #B7B7B7;

	font-size: 16px;
	font-weight: 400;
	color: #757575;
}

.login-button {
	padding: 11px 35px 12px 36px;
}